<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="title">Connexion</h1>
        <div class="separator"></div>
        <p class="text--top">Entrez vos informations pour pouvoir vous connecter.</p>
        <form method="post" class="form">
            <label for="inputEmail">
                <input type="email" placeholder="E-mail" value="{{ last_username }}" name="email" id="inputEmail" class="form--fields" required autofocus>
            </label>
            <label for="inputPassword">
                <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form--fields" required>
            </label>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <button class="btn btn--form" type="submit">
                Connexion
            </button>
        </form>
        <div class="separator separator--register"></div>
        <p class="text text--register">Vous n'avez pas de compte ? <a href="{{ path('register')}}" class="link link--email">S'inscrire</a></p>
        {% if app.user %}
                <div class="text text--register">
                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}" class="link link--email">Se déconnecter</a>
                </div>
            {% endif %}
    </div>
    
</body>

</html>


