<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="title">Inscription</h1>
        <div class="separator"></div>
        <p class="text--top">Veuillez remplir le formulaire pour pouvoir créer votre compte.</p>
        {{ form_start(form, {'attr': {'class': 'form'}}) }}

            {{ form_widget(form.email, {
                'attr': {
                    'class': 'form--fields',
                    'placeholder': 'E-mail'
                }
            }) }}
            {{ form_widget(form.password, {
                'attr': {
                    'class': 'form--fields',
                    'placeholder': 'Mot de passe',
                }
            }) }}
            <div class="error">
                {{ form_errors(form.email) }}
                {{ form_errors(form.password) }}
                {{ form_errors(form) }}
            </div>
            {{ form_widget(form.submit, {
                'label': 'S\'inscrire',
                'attr': {
                    'class': 'btn btn--form',
                }
            }) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <div class="separator separator--register"></div>
        <p class="text text--register">Vous avez déjà un compte ? <a href="{{ path('app_login')}}" class="link link--email">Se connecter</a></p>
    </div>
    
</body>

</html>
